<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ctis210finalproj">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CTIS210FinalProj">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.CTIS210FinalProj.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AsteroidHunterActivity" />

        <activity
            android:name=".IntroRules"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".AlienAsteroidSpaceship"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".MemoryMenu"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".GameActivity"
            android:theme = "@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".WhackaSpaceshipStartActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".WhackaSpaceshipMainActivity"
            android:theme = "@style/Theme.AppCompat.NoActionBar" />

    </application>

</manifest>